<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- css -->
<link rel="stylesheet" href="/css/main.css">

<!-- lib -->
<link rel="stylesheet" href="/libs/semantic/semantic.min.css">
<link rel="javascript" type="text/javascript" href="/libs/jquery-3.0.0.min.js">
<link rel="javascript" type="text/javascript" href="/libs/semantic/semantic.min.js">

<style>
    body    { padding-top:15%; }
</style>
